
/* _____________________hero_________________ */

.container {
    max-width: 1200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.hero {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

.pp {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.hero_hr {
    height: 3px;
    width: 50%;
    background-color: black;
}

.hero_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-auto-flow: column;
}

.hero_opposite {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.hero_social {
    display: flex;
    flex-wrap: wrap;
}

.social_icons {
    padding: 0.4vh;
}


/* _____________________services_________________ */

.service_box_container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
}



.service_boxes_1 {
    border: 3px solid black;
    border-right: 1.5px;
    border-bottom: 1.5px;
    padding: 10px;
    display: grid;
    justify-items: center;
}

.service_boxes_2 {
    border: 3px solid black;
    border-bottom: 1.5px;
    padding: 10px;
    display: grid;
    justify-items: center;
}

.service_boxes_3 {
    border: 3px solid black;
    border-right: 1.5px;
    padding: 10px;
    display: grid;
    justify-items: center;
}

.service_boxes_4 {
    border: 3px solid black;
    padding: 10px;
    display: grid;
    justify-items: center;
}

.service_box_title {
    border: 3px solid black;
    border-radius: 5vh;
    padding: 10px;
}

.service_box_title {
    text-align: center;
    width: fit-content;
    height: min-content;
}
