@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;700;900&display=swap');



.hero {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

.hero_image {
    height: 500px;
    width: 500px;
}