.main {
  font-family: Arial, Helvetica, sans-serif;
}

.sec_hr {
  width: 100%;
  height: 3px;
  background-color: black;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.main {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-left: 0;
  padding-left: 0;
}

/* _____________________hero_________________ */

.container {
  max-width: 1200px;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

.pp {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.hero_hr {
  height: 3px;
  width: 50%;
  background-color: black;
  margin: 1vh;
}

.hero_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  grid-auto-flow: column;
}

.hero_container h1 {
  font-size: 10vh;
  font-weight: 900;
}

.hero_container h2 {
  font-size: 5vh;
}

.hero_opposite {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.hero_social {
  display: flex;
  flex-wrap: wrap;
}

.social_icons {
  padding: 0.4vh;
}

/* _____________________services_________________ */

.services_container h2 {
  font-size: 7vh;
  font-weight: 900;
}

.services_container h3 {
  font-size: 3vh;
  font-weight: 900;
}

.services_container p {
  font-size: 3vh;
  font-weight: 600;
}

.service_box_container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.service_boxes_1 {
  border: 3px solid black;
  border-right: 1.5px;
  border-bottom: 1.5px;
  padding: 10px;
  display: grid;
  justify-items: center;
}

.service_boxes_2 {
  border: 3px solid black;
  border-bottom: 1.5px;
  padding: 10px;
  display: grid;
  justify-items: center;
}

.service_boxes_3 {
  border: 3px solid black;
  border-right: 1.5px;
  padding: 10px;
  display: grid;
  justify-items: center;
}

.service_boxes_4 {
  border: 3px solid black;
  padding: 10px;
  display: grid;
  justify-items: center;
}

.service_box_title {
  border: 3px solid black;
  border-radius: 5vh;
  padding: 10px;
}

.service_box_title {
  text-align: center;
  width: fit-content;
  height: min-content;
}

/* _____________________tools_________________ */

.tool_container {
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  justify-content: center;
}

.tool_holder {
  padding: 10px;
}

/* _____________________projects_________________ */

.project_title {
  text-decoration: underline;
  color: black;
  font-size: 7vh;
  font-weight: 900;
}

.project_container h2 {
  font-size: 7vh;
  font-weight: 900;
}

.project_holder {
  margin: 1vh;
}

/* _____________________contact_________________ */

.contact_container h2 {
  font-size: 7vh;
  font-weight: 900;
}

.mail_link {
  text-decoration: underline;
  font-size: 10vh;
  font-weight: 900;
  color: black;
}

.contact_pn {
  color: black;
  font-size: 5vh;
  font-weight: bold;
}

.contact_icon {
  font-size: 6vh;
}

.contact_address {
  font-size: 3vh;
  font-weight: 400;
}

.contact_mail {
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.contact_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_icons {
  display: flex;
  align-items: center;
}

.contact_ph_holder,
.contact_icons,
.contact_ph_address {
  padding: 1vh;
}

/* _____________________footer_________________ */

.footer {
  display: flex;
  color: white;
  background-color: black;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* _____________________________Responsive design_______________________ */

/* _____________________For Mobile_________________ */

@media screen and (max-width: 767px) {
  .main {
    display: grid;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
  }
  .container {
    
  }
  /* hero */
  .hero_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 1vh;
  }

  .hero_container h1 {
    font-size: 6vh;
    font-weight: 900;
  }

  .hero_container h2 {
    font-size: 2.5vh;
    padding: 0.3vh;
  }

  .hero_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh;
  }

  .social_icons {
    margin: 1vh;
  }

  .pp {
    height: 60%;
    width: 60%;
    border-radius: 50%;
  }
  /* _____________________services_________________ */

  .services_container h2 {
    font-size: 5vh;
    font-weight: 900;
  }

  .services_container h3 {
    font-size: 3vh;
    font-weight: 900;
  }

  .services_container p {
    font-size: 3vh;
    font-weight: 600;
  }

  .services_container {
    padding: 1vh;
  }

  .service_box_container {
    display: flex;
    flex-direction: column;
  }

  .service_boxes_1 {
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    display: grid;
    justify-items: center;
  }

  .service_boxes_2 {
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    display: grid;
    justify-items: center;
  }

  .service_boxes_3 {
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    display: grid;
    justify-items: center;
  }

  .service_boxes_4 {
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    display: grid;
    justify-items: center;
  }

  .service_box_title {
    border: 3px solid black;
    border-radius: 5vh;
    padding: 5px;
  }

  .service_box_title {
    text-align: center;
    width: fit-content;
    height: min-content;
  }

  /* _____________________tools_________________ */

  .tool_container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    justify-content: center;
  }

  .tool_main {
    display: flex;
    justify-content: center;
  }

  .tool_holder {
    padding: 3px;
  }

  .tool_holder svg {
    height: 20px;
    width: 20px;
    margin: 02px;
  }

  /* _____________________projects_________________ */

  .project_title {
    text-decoration: underline;
    color: black;
    font-size: 5vh;
    font-weight: 900;
  }

  .project_container h2 {
    font-size: 5vh;
    font-weight: 900;
  }

  .project_container {
    padding: 1vh;
  }
  /* _____________________contact_________________ */

  .contact_container h2 {
    font-size: 5vh;
    font-weight: 900;
  }

  .contact_container {
    padding: 1vh;
  }

  .mail_link {
    text-decoration: underline;
    font-size: 5vh;
    font-weight: 900;
    color: black;
  }

  .contact_pn {
    color: black;
    font-size: 4vh;
    font-weight: bold;
  }

  .contact_icon {
    font-size: 3vh;
  }

  .contact_address {
    font-size: 3vh;
    font-weight: 400;
  }

  .contact_mail {
    display: flex;
    justify-content: center;
    padding: 1vh;
  }

  .contact_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact_icons {
    display: flex;
    align-items: center;
  }

  .contact_ph_holder,
  .contact_icons,
  .contact_ph_address {
    padding: 1vh;
  }

  .sec_hr {
    width: 100%;
    height: 3px;
    background-color: black;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
