/* ______________main image______________ */

.main {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

.main_container {
    display: grid;
    justify-items: center;
}

.main_image {
    width: 100vW;
    object-fit: cover;
    max-height: 75vh;
}


/* ________________________title box___________________ */

.t_d_holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
}

.title_holder {
    padding: 1vh;
}

.title_holder h1 {
    font-size: 7vh;
    font-weight: bolder;
}

.des_holder {
    padding: 1vh;
}

.des_holder p {
    font-size: 3vh;
    font-weight: 400;
}

.hr {
    height: 3px;
    background-color: black;
    width: 1200px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* ________________________tag area___________________ */

.tag_holder {
    padding: 2.5vh;
}

.tag_wrapper {
    display: flex;
    flex-direction: row;
}

.tag_single {
    padding: 0.5vh;
}

.tag {
    padding: 0.5vh;
    border-radius: 0.3vh;
    background-color: lightgray;
    font-weight: bold;
}

.tag_holder p {
    font-size: 2.5vh;
}


/* ________________________content area___________________ */


.content_container {
    max-width: 800px;
}

.content_container h1 {
    font-size: 5vh;
}

.content_container h2 {
    font-size: 4vh;
}

.content_container p {
    font-size: 2.5vh;
}

.content_container img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.footer {
    display: flex;
    color: white;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 1200px;
}


/* ________________________Responsive design___________________*/

@media screen and (max-width: 43rem){

    .main_image {
        width: 100vW;
        object-fit: cover;
        max-height: 75vh;
    }

    .title {
        padding: 1rem;
        margin: 1rem;
    }

    .title_holder h1 {
        font-size: 3rem;
    }

    .t_d_holder {
        display: flex;
        flex-direction: column;
    }

    .tag_holder {
        padding: 1vh;
    }

    .tag_wrapper {
        display: flex;
        flex-direction: column;
    }

    .tag_single {
        padding: 0.2vh;
    }

    .content_container {
        padding: 1vh;
        width: 400px;
    }
    
    .content_container h1 {
        font-size: 2vh;
    }
    
    .content_container h2 {
        font-size: 3vh;
    }
    
    .content_container p {
        font-size: 1.7vh;
    }
    
    .content_container img {
        width: 100%;
        object-fit: cover;
    }

    .main {
        width: 100vw;
    }

    .footer {
        display: flex;
        color: white;
        background-color: black;
        align-items: center;
        justify-content: center;
        padding: 10px;
        max-width: 400px;
    }

    .hr {
        height: 3px;
        background-color: black;
        width: 100%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    

}
