/* ______________main image______________ */

.main {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

.main_container {
    display: grid;
    justify-items: center;
}

.main_image {
    width: 100vW;
    object-fit: cover;
    max-height: 75vh;
}


/* ________________________title box___________________ */

.t_d_holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
}

.title_holder {
    padding: 1vh;
}

.des_holder {
    padding: 1vh;
}

.hr {
    height: 3px;
    background-color: black;
    width: 100vw;
}

/* ________________________tag area___________________ */

.tag_wrapper {
    display: flex;
    flex-direction: row;
}

.tag_single {
    padding: 0.5vh;
}

.tag {
    padding: 0.5vh;
    border-radius: 0.3vh;
    background-color: lightblue;
}


/* ________________________content area___________________ */


.content_container {
    max-width: 800px;
}